<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <meta name="google-signin-client_id" content="138124565194-9h552o0aqmjiepsgkf8fbpio66b2gvvb.apps.googleusercontent.com">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/toastr.css" rel="stylesheet" type="text/css" />
    <link href="~/plugins/summernote/summernote-bs4.css" rel="stylesheet" />
    <script src="~/assets/js/modernizr.min.js"></script>

</head>


<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        @await Html.PartialAsync("~/Views/Shared/_header.cshtml")
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->

        <div class="content-page">

            <!-- Top Bar Start -->
            @await Html.PartialAsync("~/Views/Shared/_topbar.cshtml")
            <!-- Top Bar End -->
            <!-- Start Page content -->

            @RenderBody()

            @await Html.PartialAsync("~/Views/Shared/_footer.cshtml")
        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/metisMenu.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>

    <!-- Flot chart -->
    <script src="~/plugins/flot-chart/jquery.flot.min.js"></script>
    <script src="~/plugins/flot-chart/jquery.flot.time.js"></script>
    <script src="~/plugins/flot-chart/jquery.flot.tooltip.min.js"></script>
    <script src="~/plugins/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/plugins/flot-chart/jquery.flot.pie.js"></script>
    <script src="~/plugins/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="~/plugins/flot-chart/curvedLines.js"></script>
    <script src="~/plugins/flot-chart/jquery.flot.axislabels.js"></script>

    <!-- KNOB JS -->
    <!--[if IE]>
    <script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
    <![endif]-->
    <script src="~/plugins/jquery-knob/jquery.knob.js"></script>

    <!-- Dashboard Init -->
    <script src="~/assets/pages/jquery.dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>
    <script src="~/assets/js/socialLogin.js"></script>
    <script src="https://apis.google.com/js/platform.js?hl=tr" async defer></script>
    <script src="~/assets/js/toastr.min.js"></script>
    <!--Summernote js-->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>

    <script>jQuery(document).ready(function () {
            $('.summernote').summernote({
                height: 350,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: false                 // set focus to editable area after initializing summernote
            });

            $('.inline-editor').summernote({
                airMode: true
            });
        });</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script>$(document).ready(function () {
            $('#userPhoneNumber').mask('(000) 000 00 00');
        });</script>
</body>
</html>